{% extends "mod_manager/base.html" %}
{% load static %}

{% block title %}上传MOD{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'mod_manager/css/upload-mod.css' %}">
{% endblock style %}

{% block content %}
<h1>上传MOD</h1>
<p class="hint-info">订阅后请不要刷新页面，防止上传进度丢失</p>

<form id="upload_form", action="{% url 'mod_manager:upload_mod' %}" method="post"
      enctype="multipart/form-data" data-exist-url="{% url 'mod_manager:file_exist' %}">
    {% csrf_token %}
    <div class="select-file">
        <input id="file" type="file" name="file" autocomplete="off" required multiple />
        <div class="filename">选择文件</div>
    </div>
    <input type="submit" class="submit-button" value="上传" />
</form>

<ul id="upload_file_list"></ul>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'mod_manager/js/upload-mod.js' %}"></script>
{% endblock javascript %}
