.hidden {
    display: none;
}

#main {
    padding-bottom: 80px;
}

#main h1 {
    margin: 0;
    padding: 20px 0;
    color: #b0b0b0;
    text-align: center;
    font-weight: 400;
}

#main .server-info {
    margin: 0;
    padding: 4px 0;
    color: #9fb08b;
    text-align: center;
    font-size: 17px;
}

#main .server-info.sort-info {
    color: #a7d5f0;
}

#main #change_max_number_form {
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    margin: 20px auto 0;
}

#main #change_max_number_form label {
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    color: #c8c8c8;
    font-size: 20px;
    line-height: 40px;
}

#main #change_max_number_form #max-number {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #122133;
    background-color: #122133;
    font-size: 20px;
    color: #b0b0b0;
    outline: none;
    transition: border-color .2s;
}

#main #change_max_number_form #max-number:focus {
    border-color: #5095be;
}

#main #change_max_number_form .submit-button {
    display: block;
    float: left;
    width: 90px;
    height: 100%;
    margin-left: 10px;
    padding: 0;
    border-width: 0;
    background-color: #477497;
    color: #a7d5f0;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

#main #change_max_number_form .submit-button:hover {
    background-color: #5095be;
    color: #f7f7f7;
}

#main #mod_list {
    margin: 80px 0 0;
    padding: 0;
}

#main #mod_list > .mod-info {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 158px;
    padding: 4px 24px 4px 170px;
    box-shadow: 0 0 10px 1px rgba(15, 38, 70, 0.8);
    background-image: linear-gradient(to right bottom, #2b3748, #202f42);
    list-style: none;
}

#main #mod_list > .mod-info.right-exist {
    padding-right: 170px;
}

#main #mod_list > .mod-info:nth-child(n + 2) {
    margin-top: 20px;
}

#main #mod_list > .mod-info .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 150px;
    height: 150px;
    background-color: #000000;
}

#main #mod_list > .mod-info .left svg {
    align-self: center;
    width: 80%;
    fill: #475569;
}

#main #mod_list > .mod-info .left img {
    display: block;
    align-self: center;
    width: 100%;
}

#main #mod_list > .mod-info .middle {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding-top: 38px;
    padding-bottom: 42px;
}

#main #mod_list > .mod-info .middle .mod-name {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 30px;
    color: #c8c8c8;
    font-size: 20px;
    line-height: 30px;
}

#main #mod_list > .mod-info .middle .mod-description {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    padding-top: 8px;
    color: #8e8e8e;
    font-size: 16px;
}

#main #mod_list > .mod-info .middle .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#main #mod_list > .mod-info .middle .bottom .mod-filename {
    height: 24px;
    color: #9fb08b;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

#main #mod_list > .mod-info .middle .bottom .mod-sha256 {
    position: relative;
    height: 18px;
    padding-left: 64px;
}

#main #mod_list > .mod-info .middle .bottom .mod-sha256 button {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    padding: 0;
    border-width: 0;
    border-right: 1px solid #6d85a2;
    background-color: #18222f;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #9fb08b;
    font-style: italic;
    cursor: pointer;
    transition: background-color .2s;
}

#main #mod_list > .mod-info .middle .bottom .mod-sha256 button:hover {
    background-color: #31373e
}

#main #mod_list > .mod-info .middle .bottom .mod-sha256 .text {
    box-sizing: border-box;
    height: 18px;
    padding-left: 10px;
    background-color: #18222f;
    color: #9fb08b;
    font-size: 12px;
    line-height: 18px;
}

#main #mod_list > .mod-info .right {
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 150px;
    height: 150px;
    padding: 32px 0 8px;
}

#main #mod_list > .mod-info .right .coop-code-title {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 24px;
    color: #a7d5f0;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

#main #mod_list > .mod-info .right .coop-code-list {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main #mod_list > .mod-info .right .coop-code-list > .coop-code {
    color: #c8c8c8;
    font-size: 14px;
    list-style: none;
}

#main #mod_list > .mod-info .delete-mod-form {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
}

#main #mod_list > .mod-info .delete-mod-form .submit-btn {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border-width: 0;
    background-color: #772a2a;
    cursor: pointer;
}

#main #mod_list > .mod-info .delete-mod-form .submit-btn svg {
    width: 20px;
    height: 20px;
    font-size: 20px;
    fill: #99aac1;
}

#main #page_nav {
    width: 440px;
    height: 40px;
    margin: 40px auto 0;
    text-align: center;
}

#main #page_nav a {
    display: block;
    float: left;
    width: 40px;
    height: 100%;
    border-radius: 4px;
    background-color: #477497;
    color: #a7d5f0;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s;
}

#main #page_nav a:not(.active):not(.disabled):hover {
    background-color: #5095be;
    color: #f7f7f7;
}

#main #page_nav a.active,
#main #page_nav a.disabled {
    background-color: transparent;
    cursor: default;
}

#main #page_nav #jump_page_form {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    margin-left: 20px;
}

#main #page_nav #jump_page_form .p {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #122133;
    background-color: #122133;
    font-size: 20px;
    color: #b0b0b0;
    outline: none;
    transition: border-color .2s;
}

#main #page_nav #jump_page_form .p:focus {
    border-color: #5095be;
}

#main #page_nav #jump_page_form .submit-button {
    display: block;
    float: left;
    width: 90px;
    height: 100%;
    margin-left: 10px;
    padding: 0;
    border-width: 0;
    background-color: #477497;
    color: #a7d5f0;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

#main #page_nav #jump_page_form .submit-button:hover {
    background-color: #5095be;
    color: #f7f7f7;
}

#main #page_nav .num-page {
    display: block;
    float: left;
    height: 100%;
    margin-left: 10px;
    line-height: 40px;
    color: #c8c8c8;
}

